body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background-image: url(bkgg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 90vh;
}

h1 {
    font-weight: lighter;
    font-size: 3rem;
}

h2 {
    font-size: 15pc;
    margin: 0;
}

p {
    font-size: 2rem;
    font-weight: bold;
}
